<!-- 
<html>
	<body>
		<%#if (@result.length > 0 )%>
			<#form name = "<%=#@result[0]['from_id']%>">
				<table>
					<tr>
						<th>From_Id</th>
						<th>To_Id</th>
						<th>Amount</th>
					</tr>
					<% #@result.each do |result|%>
						<tr>
							<td><%#=result['from_id']%></td>
							<td><%#=result['to_id']%></td>
							<td><%#=result['amount']%></td>
						</tr>
					<%#end%>
				</table>
				<br><br>
				<%=# submit_tag("BACK" , :id => "toback") %>
			</form>
		<%#end%>
		
		<%#byebug%>
	</body>
</html> -->